footer
{
    background-color: #f1eeee;
}
footer ul,h5,h6
{
    font-size: 23px;
}
footer .list-unstyled li a
{
    transition: all .4s;
    color: black;
}
footer .list-unstyled li a:hover
{
    color: rgb(57, 57, 206);
}
.nav-tabs .nav-link {
    color: black;
}